@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Archivo+Narrow|Bebas+Neue&display=swap');

/* Globals */
:root {
    --background:rgba(255, 255, 255, 0.7);
}

.floatR {
    float:right;
    margin-left:10px;
}
.floatL {
    float:left;
    margin-right:10px;
}

a {
    color:rgb(180, 255, 130);
}

a:hover {
    color:rgb(255, 0, 221);
}

.split {
    grid-row: 2/3;
    grid-column: 1/2;
    width:90%;
    margin:20px auto;
    border-bottom:solid black 3px;
}

body {
    width:100%;
    margin:0 auto;
    max-width:1000px;
}

.flexCenter {
    display:flex;
    justify-content: center;
    align-items: center;
}

.dispGrid {
    display:grid;
}

.oneGrid {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

/* HEADER */
header {
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    font-family:"Amatic SC", cursive;
}
header h1, header h2{
    color:black;
    text-align:center;
}
header h1{
    font-size:200px;
    margin-bottom:0px;
    margin-top:0;
}
header h2 {
    font-size:35px;
    margin-top:0px;
    padding-top:0px;
    margin-bottom:20px;
}

.aboutTitle {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index:9999;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#myVideo {
    grid-row: 1/2;
    grid-column: 1/2;
    width:100%;
    right: 0;
    bottom: 0;
    margin:0 auto;
  }

#overlay {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index:998;
    width:100%;
    height:100%;
    background:rgba(179, 255, 0, 0.8);
  }


/* MAIN */
#firstTwo {
    grid-row: 3/4;
    grid-column: 1/2;
}

#secondTwo {
    grid-row:4/5;
}

main h2 {
    font-family: "Bebas Neue", cursive;
    text-transform:uppercase;
    color:black;
    margin:0px 0;
    text-align: left;
    font-size:40px;
}
main{
    width:90%;
    margin:0 auto;
}
main > section {
    background:var(--background);
    margin-bottom:30px;
    display:block;
}

main p {
    color:black;
    padding: 0 0px;
    font-family:'Archivo Narrow', sans-serif;
    font-size: 20px;
    background:var(--background);
}

main > section img {
    max-height:300px;
}




/* Footer */
footer {
    grid-row: 5/6;
    grid-column: 1/2;
    background:black;
    padding:20px;
    display:flex;
    justify-content: space-evenly;
}

footer img {
    max-width:50px
}