/* Desktop Style Sheet CSS */
/* For Screens above 991px width */


/* Reset body browser margin */
body {
    margin:0;
}

/* Headers */
h1 {
    font-weight:100;
    font-size:3em;
}

h2 {
    font-weight:100;
    font-size:3em;
    margin:10px;
    padding:5px;
}

/* Full Wrapper Grid for the site */
.wrapperGrid {
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-columns: 100%;
    grid-template-rows:  50% 50%;
}

/* apply flex class to access flex properties */
.flex {
    display:flex;    
}

/* Grid for Site Header */
.headerGrid {
    background:rgb(43,205,192);
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: 100;
}

/* Main Content of Site */
.mainGrid {
    background:rgb(27,27,27);
}

/* Main Styles */
/* a container for the site content below the header */
.mainContainer {
    width:85%;
    margin: 0 auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.mainContainer article > header {
    display:block;
    height:30px;
    width:100%;
}
.mainContainer > article {
    width:25%;
    text-align: center;
    color:white;
}

/* Title Colors */
.blueH {
    background:rgb(51,168,221);
}
.redH {
    background:rgb(244,103,49);
}
.greenH {
    background:rgb(43,205,192);
}